[data-theme="light"] {
  --color-primary: #004B8D;
  --color-primary-text: #FFFFFF;

  --color-bg: #FFFFFF;
  --color-text: #0F172A;

  --color-border: #CCD3DD;
  --color-placeholder: #667B98;

  --color-step-bg: #004B8D0F;
  --color-step-fill: #004B8D;

  --header-bg: #004B8D;
  --header-text: #F1F1F1;

  --label-text: #334F76;
  --input-text: #334F76;
}