/* GoldPuritySlider.module.css */
.sliderInput {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: #F1F5F9;
    border-radius: 8px;
    outline: none;
}

.sliderInput::-webkit-slider-track {
    width: 100%;
    height: 8px;
    background: #F1F5F9;
    border-radius: 8px;
}

.sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #042C71;
    box-shadow: 0px 0px 0px 1px rgba(4, 44, 113, 0.15),
                0px 1px 2px -1px rgba(15, 23, 42, 0.1),
                0px 1px 3px 0px rgba(15, 23, 42, 0.08);
    cursor: pointer;
}

.sliderInput::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #F1F5F9;
    border-radius: 8px;
}

.sliderInput::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 3px solid #042C71;
    box-shadow: 0px 0px 0px 4px rgba(4, 44, 113, 0.15),
                0px 1px 2px -1px rgba(15, 23, 42, 0.1),
                0px 1px 3px 0px rgba(15, 23, 42, 0.08);
    cursor: pointer;
}